.header
    position:relative
    color:#fff
    background :rgba(7,17,27,0.3)
    overflow hidden
    .container-wrapper
        padding:24px 12px 22px 24px
        font-size :0
        vertical-align :top
        position relative
        img 
            width:64px
            height:64px
            border-radius :4px
        .avatar
            display :inline-block
            vertical-align :top
        .content
            top:0px
            display :inline-block
            font-size :14px
            margin-left:16px
            .title
                 margin:2px 0px 8px 0px
                 
                .brand
                    display :inline-block
                    vertical-align :top
                    width:30px
                    height:18px
                    position: relative
                    top: 0px
                    left:-1px
                    bg-image(' brand')
                    background-size:30px 18px
                .name
                    margin-left:6px
                    margin-top:0px
                    font-size :17px
                    line-height :18px
                    font-weight :500
            .descripation
                margin-bottom:6px
                line-height :19px
                font-size 12px 
                margin-left:40px
            .support
                .icon
                    display: inline-block
                    width:12px
                    height 12px
                    margin-right:4px
                    background-size:12px 12px
                    background-repeat:no-repeat
                    &.decrease
                        bg-image('decrease_1')
                    &.discount
                        bg-image('discount_1')
                    &.invoice
                        bg-image('invoice_1')
                    &.guarantee
                        bg-image('guarantee_1')
                    &.special
                        bg-image('special_1')
                .text
                    line-height: 12px
                    font-size:12px
        .support-count
            position: absolute
            right 12px
            bottom: 18px
            padding:2px 12px 
            height 24px
            line-height:24px
            color:#fff
            background: rgba(0,0,0,0.2)
            border-radius 14px
            text-align:center
            .count
                font-size :10px
            .icon-keyboard_arrow_right
                font-size :10px   
                margin-left:4px

    .bulletin-wrap
        position relative
        height 28px
        line-height: 28px
        padding:0px 22px 0px 12px 
        font-size:12px
        white-space:nowrap
        overflow hidden
        text-overflow:ellipsis
        & .bulletin-icon
            position relative
            top:3px
            left:-2px
            height 12px
            width:22px
            background-size:22px 12px
            background-repeat:no-repeat
            bg-image('bulletin')
            display :inline-block
        & .icon-keyboard_arrow_right
            display :inline-block
            position absolute
            right :4px
            bottom:4px
            font-size :16px
        & .bulletin-text
            font-weight :200
            font-size :12px
            margin-left:5px
    .background
        width:100%
        overflow :hidden
        img
            position absolute
            width:100%
            height:150%
            left:0px
            top:0px
            z-index :-1
            filter:blur(6px)
    .detail
        position: fixed
        width:100%
        height 100%
        overflow:auto
        z-index:100
        top:0px
        left 0px
        background :rgba(7,17,27,0.8)
        backdrop-filter:blur(10px)
        .detail-wrap
            height:auto
            width:100%
            min-height:100%
            .detail-main
                width:100%
                height:100%
                margin-top :64px
                padding-bottom :68px
                .detail-title
                    display :block
                    font-weight :700
                    font-size:16px
                    width:100%
                    height:17px
                    text-align :center
                    line-height :16px
                .star
                    margin-top:20px
                    width:100%
                    height:auto
                    text-align:center
                    margin-bottom :20px
                .good-title
                    width:80%
                    margin:20px auto
                    display :flex
                    .good-line
                        flex:1
                        position relative
                        top:-6px
                        border-bottom :1px solid rgba(255,255,255,0.5)
                    .good-text
                        padding:0px 12px
                        font-weight :700
                .supports
                    width:80%
                    margin:0px auto
                    .supports-item
                        padding:0px 12px
                        margin-bottom :12px
                        font-size :0
                        margin-top:20px
                        &.last-child
                            margin-bottom :0px
                        .icon
                            display :inline-block
                            width:16px
                            height:16px
                            margin-right:6px
                            background-size:16px
                            vertical-align :top
                            background-repeat:no-repeat
                            &.decrease
                                bg-image('decrease_2')
                            &.discount
                                bg-image('discount_2')
                            &.invoice
                                bg-image('invoice_2')
                            &.guarantee
                                bg-image('guarantee_2')
                            &.special
                                bg-image('special_2')   
                        .text
                            font-size:13px
                            line-height :16px
                            font-weight :200
                .ad
                    width:80%
                    margin:10px auto
                    .ad-content
                        padding:0px 12px
                        font-size:12px
                        font-weight :200
                        line-height :24px
        .detail-close
            position:relative
            margin-top:-64px
            height:32px
            clear:both
            width:100%
            font-size :32px
            text-align: center
            font-weight :200